/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-size: 62, 5%;
  font-family: Whitney, Helvetica, Arial, sans-serif;
}

/* .border {
  border: 1px dashed black;
}

.wborder {
  border: 1px dashed white;
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  width: 60%;
  max-width: 1200px;
}

/* FLEXBOX */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-container-foot {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
}

/* HEADER */

header {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* Nav */
header > section:nth-child(1) {
  height: 80px;
}

.head_logo,
.head_menu,
.head_login {
  padding: 10px;
}

.head_logo,
.head_login {
  width: 20%;
}

.head_menu {
  width: 60%;
}

.head_login {
  text-align: right;
}

.head_menu ul li {
  display: inline-block;
}

.head_menu ul {
  text-align: center;
}

.head_menu a,
.head_login a,
.frame_green a {
  font-size: 1.1rem;
  font-weight: 500;
}

.head_menu a {
  color: white;
  padding: 0.3em;
}

.head_login a {
  color: black;
  background-color: white;
  border-radius: 1.5em;
  padding: 0.8em 0.9em;
}

/* Banner */
header > section:nth-child(2) {
  min-height: 400px;
}

.head_jumbo_text {
  width: 80%;
  margin: 4em 0;
  /* padding: 3em 3em; */
  text-align: center;
  color: white;
}

.head_jumbo_text h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5em;
}

.head_jumbo_text p {
  font-size: 1.2rem;
  line-height: 2rem;
  padding-bottom: 2em;
}

.banner_btn a,
.frame_green a {
  text-align: center;
  font-size: 1.2rem;
  border-radius: 1.5em;
  padding: 0.7em 1em;
  margin: 0 0.8em;
}

.banner_btn > a:nth-child(1) {
  background-color: white;
  color: black;
}

.banner_btn > a:nth-child(2) {
  background-color: rgba(35, 39, 42, 1);
  color: white;
}

/* MAIN */
.main_three {
  min-height: 500px;
}

.main_center {
  min-height: 600px;
}

.bg_gray {
  background-color: lightgray;
}

/* Three Row */

.frame_blue {
  width: 60%;
}

.frame_blue img {
  width: 100%;
}

.frame_pink {
  width: 40%;
  text-align: left;
}

.frame_pink h2 {
  font-size: 2.8rem;
}

.frame_pink p,
.frame_green p {
  font-size: 1.2rem;
  line-height: 1.5em;
  margin-top: 1.5em;
}

/* Centered Row */

.frame_green {
  width: 100%;
  text-align: center;
  margin: 3em 0;
}

.frame_green img {
  width: 80%;
}

.frame_green h2 {
  font-size: 2rem;
}

.frame_green h4 {
  font-size: 1.4rem;
  line-height: 2rem;
  background-image: url("../img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 2em;
}

.frame_green a {
  background-color: rgba(114, 137, 218, 1);
  color: white;
}

/* FOOTER */

footer {
  background-color: rgba(35, 39, 42, 1);
}

footer > section:nth-child(1) {
  min-height: 300px;
  padding-top: 1em;
}

footer > section:nth-child(2) {
  min-height: 90px;
  /* senza mettere il flex utilizzo il padding  */
  padding-top: 0.5em;
  padding-bottom: 5em;
}

/* Footer Columns */

.footcol {
  width: 16%;
}

.footcol_big {
  width: 36%;
}

/* Footer Registration */

.footer_lightframe {
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 1em;
}

.footer_lightframe > div {
  padding: 5px;
}

.footer_btn a {
  color: white;
  text-align: center;
  background-color: rgba(114, 137, 218, 1);
  border-radius: 1.5em;
  padding: 0.7em 1em;
  margin: 0 0.8em;
}

.footcol ul {
  padding: 1em;
  font-size: 1rem;
}

.footcol li {
  color: white;
  padding-top: 1rem;
}

.footcol ul > li:first-child,
.footcol_big h4 {
  color: rgba(114, 137, 218, 1);
}

/* footer big column */

.footcol_big {
  padding: 1.5em 1em;
}

.footcol_big h4 {
  font-size: 2rem;
  padding-bottom: 0.8em;
}

.footcol_big div{
  color: white;
  font-size: 1rem;
}

.footcol_big div img{
  width: 10%;
  margin-right: .5em;
}

.foot_icons i{
  font-size: 2rem;
  margin-top: 1em;
  margin-right: 0.3em;
}